

h1 {
    position: left;
    color: #FDFCFC;
    font-family: 'Eater', cursive;
    font-size: 33px;
    text-align: left;
}
h2 {
    color: #0A1E47;
    font-size: 1.2em;
    font-weight: normal;
    text-shadow: 1px 1px white;
}
body {
    background: url("img/magie-noire.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    font-family: Tahoma, sans-serif;
}

header, main, footer {
    margin: 0 auto;
    width: 800px;
}
.container {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    height: auto;
    width: auto;
    border-radius: 6px;
    border: 2px solid rgba(91, 107, 132,0.25);
    background-color: rgba(91, 107, 132,0.25);
}
div.ligne {
    text-align: center;
}
.button {
    display: inline-block;
   }





.case1 {
    text-align: left;
    display: inline-block;
    width: 30%;
}
.case2 {
    text-align: left;
    display: inline-block;
    width: 30%;
}
.case3 {
    display: inline-block;
    width: 30%;
}
div.imagebox {
    text-align: center;
}
